body {
    background-image: url(/images/6209105.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
}

/* #service {
    background-image: url(images/vegetables.jpg);
    width: 100%;
    background-size: cover;
} */